
<div class="container">
    <div class="row">
        <!---------------------------SHOWCASE IMAGE WITH NAME------------------------------>
        <div class="col-lg-8 col-12">
        <!--- <img src="../../assets/Untitled (2).png">--.
        </div>
        <div class="col-lg-4 col-12">
            <!--------------------------INTRO SUMMARY ----------------------------->
            <img src="../../assets/oie_XvpWmPj2hp8n.png" height="150px" width="auto" style="padding: 20px;">
                    <p class="heading">Web Developer <svg height="20" width="300">
                        <g fill="none">
                          <path stroke="#ff4500" d="M1 20 l211 0" />
                        </g>
                      </svg></p>
                    <h1>I'm full Stack web developer</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, amet? asd asd asd asd </p>
                    
        </div>
    </div>
</div>