<!--- HIDDEN NAV BAR FOR DESKTOP----->
<div class="container-fluid matte">
  <div class="container">
    <div class="main-nav">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-2"><a href="#">Home</a></div>
          <div class="col-2"><a href="experience">Experience</a></div>
          <div class="col-2"><a href="projects">Projects</a></div>
          <div class="col-2"><a href="education">Education</a></div>
          <div class="col-2"><a href="clients">Clients</a></div>
          <div class="col-1"></div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
</div>
<app-contacts></app-contacts>
<!---- HIDDEN CONTACT BAR FOR DESKTOP ----->