<!--- HIDDEN NAV BAR FOR DESKTOP----->
<div class="container-fluid matte">
  <div class="container">
    <div class="main-nav">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2"><a href="#">Home</a></div>
          <div class="col-2"><a href="About">About Myself</a></div>
          <div class="col-2"><a href="Projects">Projects</a></div>
          <div class="col-2"><a href="Clients">Clients</a></div>
          <div class="col-2"></div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
</div>
<app-contacts></app-contacts>
<!---- HIDDEN CONTACT BAR FOR DESKTOP ----->