<div class="container-fluid jet">
        
       <div class="row">
           <div class="col-12" style="text-align: center;">
                <h1 class="theme_color">Contact Me</h1>
                <p style="margin-bottom: 80px;">I will love to hear from you. Feel free to contact me.</p>
           </div>
           <div class="col-md-3 col-sm-6 co-12">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="theme_color">Email</h4>
              <p>aashraykatiyar.geek@gmail.com</p>
           </div>
           <div class="col-md-3 col-sm-6 co-12">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="theme_color">Phone Number</h4>
              <p>+9779804403207, +9779867277852</p>
           </div>
           <div class="col-md-3 col-sm-6 co-12">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="theme_color">Github</h4>
              <p>https://github.com/Aashray446</p>
           </div>
           <div class="col-md-3 col-sm-6 co-12">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="theme_color">Social</h4>
              <p>Instagram, Facebook, Twitter</p>
           </div>

       </div>
        <!--------------------------------COPY RIGHT DETAILS------------------------------------->
        <div class="row">

        </div>
</div>