
<div class="container">
    
    <div class="row mt-5">
        <div class="col-sm-2 col-12"></div>
        <div class="col-sm-8 col-12 center">
            <h2 class="mb-4">TECH STACKS <i class="fa fa-free-code-camp fa-2x" aria-hidden="true"></i></h2>
           <span class="stack">Angular </span>
           <span class="stack">Ionic </span>
           <span class="stack">PHP </span>
           <span class="stack">SQL </span>
           <span class="stack">TS </span>
           <span class="stack">Bootstrap </span>
           <span class="stack">Wordpress </span>
           <span class="stack">Python </span>
        </div>
        <div class="col-sm-2 col-12"></div>
        <hr>
    </div>
    <h2 class="theme_color">PROJECTS    </h2>
    <div class="row">
        <div class="col-md-6 col-12">
            
            <div class="jet_box">
                <h5 class="theme_color">School Management System</h5>
                <li><small>Desktop and Web Based School Management System that makes the whole School Work paperless</small></li>
                <li><small>Integrated Bio-metric attendance system</small></li>
                <li><small>Designed RESTful backend server enabling support of high scalability and support for cross platform</small></li>
                <li><small>Designed in a modular approach using Angular that helps distribution of services choice based</small></li>
                <li><small> <span class="theme_color">Utilized:-</span> Angular, PHP, JSON Web Token, Mysql, Ionic, Bootstrap </small></li>
            </div>
       
        </div>
        <div class="col-md-6 col-12">
            <div class="jet_box">
                <h5 class="theme_color">Bulk Sms Software</h5>
                <ol>
                    <li><small>Desktop based messaging software that is used in offices to send messages to selected numbers</small></li>
                    <li><small>Designed very easy user friendle interface to work with bootstrap</small></li>
                    <li><small class="theme_color">Utilized:-</small><small>Ionic, Javascript and MySQL</small></li>
                </ol>
            </div>
            <div class="jet_box">
                <h5 class="theme_color">Wifi Enabled Drone</h5>
                <ol>
                    <li><small>Built from Scratch, Cost effective Stm32 based drone used for Collecting Images Data</small></li>
                    <li><small>Can be controlled by Wifi and controller both</small></li>
                    <li><small>Modular approach makes drone versatile and programable for various purpose</small></li>
                    <li><small class="theme_color">Utilized:-</small><small>C, Arduino, STM32, ESP32, UDP protocol, Java Mobile Application, Android OS</small></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<app-testimonials></app-testimonials>