
<div class="container">
    
    <div class="row mt-5">
        <div class="col-sm-3 col-12"></div>
        <div class="col-sm-6 col-12 center">
            <i class="fa fa-graduation-cap fa-5x theme_color" aria-hidden="true">
                <hr>
            </i>
            <p>I believe that learning is not restricted to boundries of Institution only. This is mordern era, A era where information is available on the tip of the fingers. So here are the things I gathered while diving and exploring the informations.</p>
        </div>
        <div class="col-sm-3 col-12"></div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <h2 class="theme_color">FORMAL SCHOOLING</h2>
            <div class="jet_box">
                <h5>Secondary School</h5>
                <small>Kathmandu,Nepal</small>
            </div>
            <div class="jet_box">
                <h5>Senios Secondary School</h5>
                <small>Nios, Dehradoon</small>
            </div>
            <div class="jet_box">
                <h5>Bachelors In Technology (AI)</h5>
                <small>Amrita Vishwa Vidyapeetham</small>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <h2 class="theme_color">EXPERIENCE</h2>
            <div class="jet_box">
                <small>2018-2020 (HotoTech Pvt limited)</small>
                <h5 class="theme_color">Full Stack Web Developer</h5>
                <ol> <h6 class="theme_color">Reponsibilities</h6>
                    <li>Participating in the design and creation of scalable software.</li>
                    <li>Design client-side and server-side architecture</li>
                    <li>Write effective APIs.</li>
                    <li>Build features and applications with a mobile responsive design.</li>
                </ol>

            </div>
            <div class="jet_box"><p>
                <small>2020-2021 (Freelance Developer)</small>
                <h5 class="theme_color">Desktop and Web Developer</h5>
                <ol> <h6 class="theme_color">Responsibilites</h6>
                    <li>Communicate with clients and list out their requirements</li>
                    <li>Design client-side and server-side architecture</li>
                    <li>Write effective APIs.</li>
                    <li>Build features and applications with a mobile responsive design.</li>
                </ol>
                
            </div>

        </div>
    </div>
</div>