/* You can add global styles to this file, and also import other style files */
/* Colour pallete #28282B- matte black #jet -black */
* {
    font-family: 'Lato', sans-serif;
}
.matte {
    background-color: #28282B;
    color: white;
}
.jet {
    background-color: #1B1212;
    padding-top: 50px;
}
.center {
    text-align: center;
}
.heading {
    color: #ff4500;
    letter-spacing: 1px;
    font-size: larger;
    font-family: 'Lato', sans-serif;
}