
<div class="container">
    <div class="row">
        <div class="col-12 center">
            <h1>Checkout what clients are Saying</h1>
            <hr>
            <div class="row">
            <div class="col-sm-4 center">
                <img src="../../assets/logo_transparent.png" height="100px" class="rounded-circle" alt="Cinque Terre">
                <h5><a href="http://licensesewa.com">Licensesewa Nepal</a></h5>
                <p>Butwal Nepal</p> 
                <span class="big">&#8220;</span>  <small>FEELS LIKE GOT MORE THAN WHAT I PAID FOR</small>  <span class="big">&#8221;</span>  
            </div>
            <div class="col-sm-4 center">
                <img src="../../assets/Vimaluncle.jpg" height="100px" class="rounded-circle" alt="Cinque Terre">
                <h5><a href="http://sunshinesmarble.com">Sunshines Marble</a></h5>
                <p>Kathmandu, Nepal</p> 
                <span class="big">&#8220;</span>  <small>VERY SATISFIED AND WILL RECOMMEND TO MY FRIENDS</small>  <span class="big">&#8221;</span>     
            </div>
            <div class="col-sm-4 center">
                <img src="../../assets/new_logo.png" height="100px" class="rounded-circle" alt="Cinque Terre">
                <h5><a href="https://krishnanagarmun.gov.np/" >Krishnanagar Muncipality</a></h5>
                <p>Krishnanagar, Nepal</p>    
                <span class="big">&#8220;</span>  <small>GOOD TECH SUPPORT AND PROFESSIONAL WORK</small>  <span class="big">&#8221;</span>  
            </div>
            </div>
        </div>
        
    </div>

</div>